:root {
  /* Warna Futuristik */
  --color-purple: #482eb9;   /* Ungu Futuristik */
  --color-green: #2ecc71;    /* Hijau Futuristik */
  --color-blue: #00ffff;     /* Biru Futuristik */
  --color-redorange: #e67e22; /* Merah-Oranye-Coklat Futuristik */
  --color-tosca: #1abc9c;    /* Tosca Futuristik */

  /* Warna transparan untuk trail */
  --color-purple-light: rgba(155, 89, 182, 0.5);
  --color-green-light: rgba(46, 204, 113, 0.5);
  --color-blue-light: rgba(0, 255, 255, 0.5);
  --color-redorange-light: rgba(230, 126, 34, 0.5);
  --color-tosca-light: rgba(26, 188, 156, 0.5);
}

/* Cursor default */
.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-blue);
  box-shadow: 0 0 10px var(--color-blue), 0 0 20px var(--color-blue-light), 0 0 30px var(--color-blue-light);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.2s, height 0.2s, box-shadow 0.2s, background-color 0.2s;
  z-index: 9999;
}

/* Trail */
.trail {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--color-blue-light);
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: blur(3px);
  z-index: 9998;
}
